$green: #acec4d;
$pink: #ffa3ca;
$dark-pink: #d52770;
$blue: #caecf2;
$purple: #bf7cc4;
$creamy: #fcebf2;
$yellow: #ffef5e;
$dark-blue: #083c42;

@mixin green{
    background-color:#83da0079;
}

@mixin pink{
    background-color: $creamy;
    color: $dark-pink;
    border: 2px solid $pink;
    font-weight:600;
}

@mixin inverse-pink{
    background-color: $pink;
    color: $creamy;
    border: 2px solid $creamy;
    font-weight:700;
}

body {
    background-color: $blue;
}

button {
    @include pink;
}

button:hover{
    @include inverse-pink;
}

header{
    background-color: $pink;
    
    h1 {
        color: $creamy;
        background-color: $dark-pink;
        border-radius: 50%;
        border-bottom: 5px solid black;
    }
}

footer {
    color: $purple;
    background-color: black;
}



.trip_card {
    border: 3px solid $pink;
    background-color: white;

    .trip-info {

        button {
            border-radius: 4px;
        }
    }

    .weather-but {
        border: none;
        border-radius: 4px 4px 0 0;

    }

    .weather {
        background-color: $dark-blue;
        color: $blue;
        
        .item {
            border-left: 1px dotted $blue;
            border-right: 1px dotted $blue;
        }
    }

}



input {
    @include green;
    border: 3px 
}

#new-trip {

    div, form {
        background-color: white;
    }

    [active] {
        border-radius: 0 0 10px 10px;
        border: 7px solid $green ;
        border-top: none;
    }
}

.dest_opt:hover{
    background-color: pink;
}