// #dest_select {
//     display: none;
// }

@use '__loader' ;
@use '__colors';
@use '__font';
@use '__structure' ;

li {
    list-style-type: none;
}

.dest_opt:hover{
    background-color: pink;
}
* {
    box-sizing: border-box;
}

header {

    text-align: center;

    h1{
        padding: 10px;
        margin: 10px;
    }

    nav {
        button {
            padding: 5px;
            margin: 5px;
        }
    }
    
}